# --- Python ---
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/

# --- Node / Next.js ---
node_modules/
.next/
out/
build/
dist/
.env
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- Data (dataset volumineux, non versionné) ---
data/raw/*
!data/raw/README.md
!data/raw/.gitkeep
data/processed/*
!data/processed/README.md
!data/processed/.gitkeep

# --- IDE / OS ---
.vscode/
.idea/
.DS_Store
Thumbs.db

# --- Secrets ---
*.pem
*.key

#--- virtual environment ----
/dev
